## 운동(practice) 데이터 프레임 만들기

In [1]:
import pandas as pd

practice = pd.DataFrame({
    '날짜': [],
    '운동': [],
    '운동량': []
})
practice

Empty DataFrame
Columns: [날짜, 운동, 운동량]
Index: []

In [2]:
# 데이터 추가, 변경 - loc[]
practice.loc[0] = ['23-3-1', '달리기', 1]
practice

       날짜   운동  운동량
0  23-3-1  달리기    1

In [3]:
practice.loc[1] = ['23-3-2', '걷기', 1]
practice.loc[2] = ['23-3-2', '달리기', 1]
practice.loc[3] = ['23-3-2', '계단오르기', 1]
practice

       날짜     운동  운동량
0  23-3-1    달리기    1
1  23-3-2     걷기    1
2  23-3-2    달리기    1
3  23-3-2  계단오르기    1

In [4]:
practice.loc[4] = ['23-3-3', '걷기', 1.5]
practice.loc[5] = ['23-3-3', '달리기', 1]
practice

       날짜     운동  운동량
0  23-3-1    달리기  1.0
1  23-3-2     걷기  1.0
2  23-3-2    달리기  1.0
3  23-3-2  계단오르기  1.0
4  23-3-3     걷기  1.5
5  23-3-3    달리기  1.0

In [5]:
practice.loc[6] = ['23-3-4', '걷기', 1.5]
practice.loc[7] = ['23-3-5', '달리기', 1]
practice.loc[8] = ['23-3-6', '걷기', 2.5]
practice.loc[9] = ['23-3-6', '달리기', 0.5]
practice

       날짜     운동  운동량
0  23-3-1    달리기  1.0
1  23-3-2     걷기  1.0
2  23-3-2    달리기  1.0
3  23-3-2  계단오르기  1.0
4  23-3-3     걷기  1.5
5  23-3-3    달리기  1.0
6  23-3-4     걷기  1.5
7  23-3-5    달리기  1.0
8  23-3-6     걷기  2.5
9  23-3-6    달리기  0.5

In [6]:
# 운동별 운동량의 합계
practice.pivot_table(index='운동', values='운동량', aggfunc='sum') #합계

       운동량
운동
걷기     6.5
계단오르기  1.0
달리기    4.5

In [7]:
practice.pivot_table(index='운동', values='운동량') #평균

         운동량
운동
걷기     1.625
계단오르기  1.000
달리기    0.900

In [8]:
# to_csv() 파일 만들기
practice.to_csv('./datas/practice.csv')

In [9]:
practice = practice.set_index('날짜')  # 인덱스를 '날짜'로 설정
practice

           운동  운동량
날짜
23-3-1    달리기  1.0
23-3-2     걷기  1.0
23-3-2    달리기  1.0
23-3-2  계단오르기  1.0
23-3-3     걷기  1.5
23-3-3    달리기  1.0
23-3-4     걷기  1.5
23-3-5    달리기  1.0
23-3-6     걷기  2.5
23-3-6    달리기  0.5

In [11]:
practice.to_csv('./datas/practice1.csv')

### 외부 파일 읽어오기 
#### pandas 모듈 사용 - pd.read_csv()

In [12]:
exercise = pd.read_csv('./datas/practice1.csv')
exercise

       날짜     운동  운동량
0  23-3-1    달리기  1.0
1  23-3-2     걷기  1.0
2  23-3-2    달리기  1.0
3  23-3-2  계단오르기  1.0
4  23-3-3     걷기  1.5
5  23-3-3    달리기  1.0
6  23-3-4     걷기  1.5
7  23-3-5    달리기  1.0
8  23-3-6     걷기  2.5
9  23-3-6    달리기  0.5

In [13]:
exercise = pd.read_csv('./datas/practice1.csv', index_col=0) #column = 0 '날짜', column =1 '운동'

In [14]:
exercise

           운동  운동량
날짜
23-3-1    달리기  1.0
23-3-2     걷기  1.0
23-3-2    달리기  1.0
23-3-2  계단오르기  1.0
23-3-3     걷기  1.5
23-3-3    달리기  1.0
23-3-4     걷기  1.5
23-3-5    달리기  1.0
23-3-6     걷기  2.5
23-3-6    달리기  0.5

## 깊은 복사와 얕은 복사

In [15]:
# 얕은 복사
a = [1, 2, 3, 4]
a

[1, 2, 3, 4]

In [16]:
# a 리스트를 b에 복사
b = a
b

[1, 2, 3, 4]

In [17]:
# 10을 변경
b[1] = 10
b

[1, 10, 3, 4]

In [18]:
# a 출력
a

[1, 10, 3, 4]

### 깊은 복사
#### 원본을 복사한 후 사본을 변경해도 원본은 변경되지 않음

In [19]:
c = [1, 2, 3, 4]
c

[1, 2, 3, 4]

In [20]:
# copy()를 이용하면 깊은 복사가 됨
d = c.copy()  
d

[1, 2, 3, 4]

In [21]:
d[1] = 10
d

[1, 10, 3, 4]

In [22]:
# c 출력
c

[1, 2, 3, 4]